Flask
Flask-Dance
Flask-Session
Flask-WTF
WTForms
Flask-Limiter
Flask-SQLAlchemy
psycopg2-binary
Flask-Talisman
gunicorn
oauthlib
python-dotenv
requests
Jinja2
Werkzeug
itsdangerous
redis
limits[redis]
email_validator
