{# avatar_macro.html #}
{% macro render_avatar(parts) %}
  {% set LAYER_ORDER = ["characters", "clothes", "hair", "face", "acc"] %}
  {% for part in LAYER_ORDER %}
    {% set value = parts.get(part) %}
    {% if value %}
      {% if part == "characters" %}
        <img src="{{ url_for('static', filename='images/avatar_parts/characters/' + (value.name if value is mapping and value.name else value|string) + '.png') }}"
             alt="{{ part }}" class="avatar-layer profile-avatar-layer">
      {% else %}
        {# Loop over all sub-parts if value is a mapping (dict of dicts) #}
        {% if value is mapping %}
          {% for sub in value.values() %}
            {% if sub.subcategory and sub.name %}
              <img src="{{ url_for('static', filename='images/avatar_parts/' + part + '/' + sub.subcategory + '/' + sub.name + '.png') }}"
                   alt="{{ part }}" class="avatar-layer profile-avatar-layer">
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endmacro %}
