{# avatar_macro.html #}
{% macro render_avatar(parts) %}
  {% set LAYER_ORDER = ["characters", "clothes", "hair", "face", "acc"] %}
  {% for part in LAYER_ORDER %}
    {% set value = parts.get(part) %}
    {% if value %}
      {% if part == "characters" %}
        <img src="{{ url_for('static', filename='images/avatar_parts/characters/' + (value.name if value is mapping and value.name else value|string) + '.png') }}"
             alt="{{ part }}" class="avatar-layer profile-avatar-layer">
      {% else %}
        {# Handle nested subcategories for non-character parts #}
        {% if value is mapping %}
          {% for subcat, subvalue in value.items() %}
            {% if subvalue.name and subvalue.subcategory %}
              <img src="{{ url_for('static', filename='images/avatar_parts/' + part + '/' + subvalue.subcategory + '/' + subvalue.name + '.png') }}"
                   alt="{{ part ~ '-' ~ subcat }}" class="avatar-layer profile-avatar-layer">
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endmacro %}
