<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Silent Strings{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <audio id="bgm" src="{{ url_for('static', filename='sfx/bgm.mp3') }}" autoplay loop>
        Your browser does not support the audio element.
    </audio>
    {% block content %}{% endblock %}
    
    <!-- Common Scripts -->
    <script src="{{ url_for('static', filename='js/sfx.js') }}" defer></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html> 