<!-- templates/dialogue.html -->
{% extends "base.html" %}
{% block title %}Dialogue{% endblock %}
{% block content %}
  <div class="dialogue-box-outer">
    <div class="dialogue-box-header" id="dialogue-npc"></div>
    <div class="dialogue-box-content-row">
      <img id="dialogue-portrait" class="dialogue-portrait" src="" alt="Portrait" style="display:none;" />
      <div class="dialogue-box-inner" id="dialogue-text"></div>
    </div>
    <div id="options" class="dialogue-options"></div>
  </div>
{% endblock %}
