{% extends "base.html" %}
{% block title %}Silent Strings{% endblock %}
{% block content %}
  <div class="bg-container">
    <img src="{{ url_for('static', filename='images/background.gif') }}" class="background">
    <div class="darken"></div>
    <div class="overlay">
      <div class="center-container">
      <h1 class="game-title">Silent Strings</h1>
      <p class="tagline">Agent, your mission awaits...</p>
      <a href="{{ url_for('start') }}" class="start-button">START</a>
    </div>
    </div>
  </div>
{% endblock %}
