<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Agent Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="bg-container">
    <img src="{{ url_for('static', filename='images/background.gif') }}" class="background" alt="Background">
    <div class="darken"></div>
  </div>

  <div class="overlay">
    <div class="mission-container pixelated-border">
      <h2>Agent Login</h2>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class="flashes">
            {% for category, msg in messages %}
              <li class="flash {{ category }}">{{ msg }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <form action="{{ url_for('login') }}" method="post" autocomplete="off">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="email" name="email" placeholder="Email" required class="pixel-input">
        <input type="password" name="password" placeholder="Password" required class="pixel-input">
		    <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}"></div>
        <a href="{{ url_for('signup') }}" class="login-button">Log In</a>
        <button type="submit" class="login-button">Log In</button>
      </form>
      <p>No account? <a href="{{ url_for('signup') }}">Sign Up</a></p>
    </div>
  </div>
</body>
</html>
